# Use postgres/example user/password credentials
version: '3.1'

services:
  timesheets-mgt-api:
    container_name: timesheets-mgt-api
    image: timesheets-mgt
    restart: unless-stopped
    ports:
      - 8100:8100 # tcp
      - 8101:8101 # ssl
    build: 
      context: ../../
      dockerfile: docker/Dockerfile

    volumes:
      - ./../../:/usr/src/timesheets-mgt-api

    # command: hypercorn --config file:../../hypercorn/hypercorn_conf.py src.main:app
    command: uvicorn src.main:app --reload --port 8100 --host 0.0.0.0

    environment:
      - APP_NAME=WTP-PAYMENT-SERVICE
      
      - ALLOW_ORIGINS=http://localhost,http://localhost:8000
      - ALLOW_ORIGIN_REGEX=https://.*\\.regnify\\.com|https://.*\\.azurestaticapps\\.net|https://.*\\.netlify\\.app
      
      - DOC_URL=/docs
      - REDOC_URL=/redoc

      - DB_USER=wtp-timesheets
      - DB_PASSWORD=WTPPASSWORD
      - DB_HOST=postgres
      - DB_NAME=wtp-timesheets-db
      - DB_PORT=5432

      - OPENAPI_URL=/openapi.json
      - DISPLAY_SCOPES_IN_DOCUMENTATION=True
      
      # * This should only be used for development on your local machine.
      # * Mount a volume on the server to reference these files.
      - KEYFILE=/usr/src/regnify-api/hypercorn/key.pem
      - CERTFILE=/usr/src/regnify-api/hypercorn/cert.pem

      - TCP_PORT=8100
      - SSL_PORT=8101
      - SHOULD_RELOAD=True
      - MAX_WORKERS=1
      - USE_SSL=True
      - USE_TCP=True
  
    depends_on:
      - postgres

  postgres:
    image: postgres:15.0-alpine
    container_name: wtp-payment-db
    restart: always
    # volumes:
      # - ~/dockerPostgres/regnify:/var/lib/postgresql/data
      
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: wtp-timesheets
      POSTGRES_PASSWORD: WTPPASSWORD
      POSTGRES_DB: wtp-timesheets-db

networks:
  default:
    external: true
    name: timesheets-mgt-network